%h1 Edit your profile, #{@user.name}

.row
  = form_for @user, :url => profile_path do |f|
    .origin.col-md-6
      %h2 Origin

      #origin_map
      :javascript

        $("#origin_map").css("width", "500px");
        $("#origin_map").css("height", "300px");

        window.origin_map = L.map('origin_map', {minZoom: 3}).setView([51,0], 10);
        window.origin_map.attributionControl.setPrefix(false);
        L.tileLayer('http://{s}.tile.cloudmade.com/4ef6b198d96d4b3e9404826e8c656977/998/256/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
          maxZoom: 14
        }).addTo(window.origin_map);

      - if @user.origin_latlng
        :javascript
          window.origin_marker = L.marker([#{@user.origin_latlng_string}], {draggable: true}).addTo(window.origin_map);
          window.origin_marker.on("dragend", function(e) {
            var lat = this.getLatLng().lat;
            var lng = this.getLatLng().lng;
            $("#user_origin_latlng").val(lat + "," + lng);
          });
          window.origin_map.setView([#{@user.origin_latlng_string}], 10);
      - else
        :javascript
          window.origin_marker = L.marker([51,0], {draggable: true}).addTo(window.origin_map);
          window.origin_marker.on("dragend", function(e) {
            var lat = this.getLatLng().lat;
            var lng = this.getLatLng().lng;
            $("#user_origin_latlng").val(lat + "," + lng);
          });


      %p
        = f.label :origin_latlng
        = f.text_field :origin_latlng, :value => @user.origin_latlng_string

      %p
        = f.label :origin_name
        = f.text_field :origin_name
        = link_to "Look this up on the map", "#", :class => :geocode_origin
        
        :javascript
          $("a.geocode_origin").click(function() {
            var address = $("#user_origin_name").val();
            $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + address + '&json_callback=?', 'jsonp', function(data) {
              console.log(data);
              if(data.length > 0) {
                var location = data[0]
                // move map to data.lat, data.lon
                window.origin_map.panTo([location.lat, location.lon]);
                // move marker to data.lat, data.lon
                window.origin_marker.setLatLng([location.lat,location.lon]);
                // update field
                $("#user_origin_latlng").val(location.lat+","+location.lon);
              } else {
                alert("Sorry, couldn't find that.");
              }
            });
            return false;
          });

    .offset.col-md-6
      %h2 Offset

      #offset_map
      :javascript

        $("#offset_map").css("width", "500px");
        $("#offset_map").css("height", "300px");

        window.offset_map = L.map('offset_map', {minZoom: 3}).setView([51,0], 10);
        window.offset_map.attributionControl.setPrefix(false);
        L.tileLayer('http://{s}.tile.cloudmade.com/4ef6b198d96d4b3e9404826e8c656977/998/256/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
          maxZoom: 14
        }).addTo(window.offset_map);

      - if @user.offset_latlng
        :javascript
          window.offset_marker = L.marker([#{@user.offset_latlng_string}], {draggable: true}).addTo(window.offset_map);
          window.offset_marker.on("dragend", function(e) {
            var lat = this.getLatLng().lat;
            var lng = this.getLatLng().lng;
            $("#user_offset_latlng").val(lat + "," + lng);
          });
          window.offset_map.setView([#{@user.offset_latlng_string}], 10);
      - else
        :javascript
          var m = L.marker([51,0], {draggable: true}).addTo(window.offset_map);
          m.on("dragend", function(e) {
            var lat = this.getLatLng().lat;
            var lng = this.getLatLng().lng;
            $("#user_offset_latlng").val(lat + "," + lng);
          });


      %p
        = f.label :offset_latlng
        = f.text_field :offset_latlng, :value => @user.offset_latlng_string

      %p
        = f.label :offset_name
        = f.text_field :offset_name
        = link_to "Look this up on the map", "#", :class => :geocode_offset

      :javascript
        $("a.geocode_offset").click(function() {
          var address = $("#user_offset_name").val();
          $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + address + '&json_callback=?', 'jsonp', function(data) {
            console.log(data);
            if(data.length > 0) {
              var location = data[0]
              // move map to data.lat, data.lon
              window.offset_map.panTo([location.lat, location.lon]);
              // move marker to data.lat, data.lon
              window.offset_marker.setLatLng([location.lat,location.lon]);
              // update field
              $("#user_offset_latlng").val(location.lat+","+location.lon);
            } else {
              alert("Sorry, couldn't find that.");
            }
          });
          return false;
        });

    %p
      = f.submit
