%h1 Your profile, #{@user.name}

%p= image_tag(@user.photo_url('medium'))

%p
  - if @user.secondary_access_token
    Secondary access token set up.
  - else
    Secondary access token needs setting up.

.row
  .origin.col-md-6
    %h2 Origin
    - if @user.origin?
      #origin_map

      :javascript

        $("#origin_map").css("width", "500px");
        $("#origin_map").css("height", "300px");

        window.origin_map = L.map('origin_map', {minZoom: 3}).setView([#{@user.origin_location.latlng_string}], 10);
        window.origin_map.attributionControl.setPrefix(false);

        var mapquestUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
        subDomains = ['otile1','otile2','otile3','otile4'],
        mapquestAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
        var mapquest = new L.TileLayer(mapquestUrl, {maxZoom: 14, attribution: mapquestAttrib, subdomains: subDomains});

        mapquest.addTo(window.origin_map)

        L.marker([#{@user.origin_location.latlng_string}]).addTo(origin_map)

      %dl
        %dt Origin Name
        %dd= @user.origin_location.name

        %dt Origin co-ordinates
        %dd= @user.origin_location.latlng_string
    - else
      %p 
        You haven't set an origin.
        = link_to "Edit your profile", edit_profile_path
        to do so.
  .offset.col-md-6
    %h2 Offset
    - if @user.offset?
      #offset_map

      :javascript

        $("#offset_map").css("width", "500px");
        $("#offset_map").css("height", "300px");

        window.offset_map = L.map('offset_map', {minZoom: 3}).setView([#{@user.offset_location.latlng_string}], 10);
        window.offset_map.attributionControl.setPrefix(false);
        L.marker([#{@user.offset_location.latlng_string}]).addTo(offset_map)

        var mapquestUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
        subDomains = ['otile1','otile2','otile3','otile4'],
        mapquestAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
        var mapquest = new L.TileLayer(mapquestUrl, {maxZoom: 14, attribution: mapquestAttrib, subdomains: subDomains});

        mapquest.addTo(window.offset_map)

      %dl
        %dt Offset Name
        %dd= @user.offset_location.name

        %dt Origin co-ordinates
        %dd= @user.offset_location.latlng_string

        %dt Time offset
        %dd= @user.offset_location.time_offset
    - else
      %p 
        You haven't set an offset location
        = link_to "Edit your profile", edit_profile_path
        to do so.


%p= link_to "Edit profile", edit_profile_path
