%h1 Your profile, #{@user.name}

%p= image_tag(@user.picture_url)

.origin
  %h2 Origin
  - if @user.origin?
    #origin_map

    :javascript

      $("#origin_map").css("width", "600px");
      $("#origin_map").css("height", "400px");

      window.origin_map = L.map('origin_map', {minZoom: 3}).setView([#{@user.origin_latlng_string}], 10);
      window.origin_map.attributionControl.setPrefix(false);
      L.tileLayer('http://{s}.tile.cloudmade.com/4ef6b198d96d4b3e9404826e8c656977/998/256/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 14
      }).addTo(window.origin_map);
      L.marker([#{@user.origin_latlng_string}]).addTo(origin_map)

    %dl
      %dt Origin Name
      %dd= @user.origin_name

      %dt Origin co-ordinates
      %dd= @user.origin_latlng_string
  - else
    %p 
      You haven't set an origin.
      = link_to "Edit your profile", edit_profile_path
      to do so.

%p= link_to "Edit profile", edit_profile_path
