%h1 Checkins

= button_to "Ingest latest checkins", checkin_ingest_path

- if @checkins.any?
  %table.table.table-striped
    %thead
      %tr
        %th Checkin at
        %th Venue name
        %th Shout
        %th Checkin 
        %th Latitude
        %th Longitude
        %th Relative lat
        %th Relative lng
        %th

    %tbody
      - for checkin in @checkins
        %tr
          %td= checkin.time
          %td= link_to checkin.venue_name, "http://foursquare.com/v/#{checkin.venue_id}"
          %td= checkin.shout
          %td= link_to checkin.checkin_id, "http://foursquare.com/user/#{current_user.foursquare_id}/checkin/#{checkin.checkin_id}"
          %td= checkin.lat
          %td= checkin.lng
          %td= checkin.relative_lat
          %td= checkin.relative_lng
          %td= link_to "View details", checkin

  = paginate @checkins

- else
  %p Sorry, couldn't find any relevant checkins.
