%h1 Checkin: #{@checkin.venue_name} at #{format_datetime(Time.at(@checkin.timestamp))}

.row
  .col-md-6
    %h2 Checkin location
    #checkin_map
      :javascript

        $("#checkin_map").css("width", "500px");
        $("#checkin_map").css("height", "300px");

        window.checkin_map = L.map('checkin_map', {minZoom: 3}).setView([#{@checkin.latlng_string}], 13);
        window.checkin_map.attributionControl.setPrefix(false);
        L.mapbox.tileLayer('infovore.he83klmi').addTo(checkin_map);
        L.marker([#{@checkin.latlng_string}]).addTo(checkin_map)

    %dl
      %dt Venue
      %dd= link_to @checkin.venue_name, "http://foursquare.com/v/#{@checkin.venue_id}", :class => "popup"

      %dt Categories
      %dd= @checkin.category_name_list

      %dt Latitude
      %dd= @checkin.lat

      %dt Longitude
      %dd= @checkin.lng

  .col-md-6
    %h2 Relative location
    #offset_checkin_map

    %dl
      %dt Venue
      %dd#offset_name

      %dt Categories
      %dd#offset_categories

      %dt Latitude
      %dd#offset_lat

      %dt Longitude
      %dd#offset_lng

      :javascript
        $("#offset_checkin_map").css("width", "500px");
        $("#offset_checkin_map").css("height", "300px");

        var mirrorUrl = window.location.href + "/mirror.json";

        $.get(mirrorUrl, function(data) {
        var offsetId = data.id
          var offsetName = data.name;
          var offsetLat = data.location.lat;
          var offsetLng = data.location.lng;

          var offsetCategories = new Array();
          for (var i = 0; i < data.categories.length; i++) {
            offsetCategories.push(data.categories[i].name);
          };

          $("#offset_name").html("<a class='popup' href='http://foursquare.com/v/" + offsetId + "'>" + offsetName + "</a>");
          $("#offset_categories").text(offsetCategories);
          $("#offset_lat").text(offsetLat);
          $("#offset_lng").text(offsetLng);

          window.offset_checkin_map = L.map('offset_checkin_map', {minZoom: 3}).setView([offsetLat, offsetLng], 13);
          window.offset_checkin_map.attributionControl.setPrefix(false);
          L.mapbox.tileLayer('infovore.he83klmi').addTo(window.offset_checkin_map);
          L.marker([offsetLat,offsetLng]).addTo(offset_checkin_map)
        });

    - if @checkin.mirrored?
      = link_to "View mirrored checkin on Foursqaure", "http://foursquare.com/user/#{current_user.secondary_foursquare_id}/checkin/#{@checkin.mirror_checkin_id}"
    - elsif current_user.configuration_state == 'complete'
      = button_to "Post this checkin to secondary account", create_at_mirror_checkin_path(@checkin), :class => :btn




%p= link_to "Back to all checkins", checkins_path
