<!DOCTYPE html>
%html
  %head
    %title Ghostme
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} Ghostme
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active= link_to "Home", "/"
          .navbar-right.user-panel
            - if session[:access_token]
              %img{:src => current_user.picture_url}
              Logged in as
              %i= current_user.name
              = link_to "Log out", logout_session_path
            - else
              = link_to "Log in", new_session_path
    .container
      = yield

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    %script{:src => "//code.jquery.com/jquery.js"}
