<!DOCTYPE html>
%html
  %head
    %title Ghostme
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} Ghostme
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Home", "/"
            %li= link_to "Checkins", "/checkins"
          .navbar-right.user-panel
            - if session[:access_token]
              %img{:src => current_user.picture_url}
              Logged in as
              %i= current_user.name
              = link_to "Log out", logout_session_path
            - else
              = link_to "Log in", new_session_path
    .container
      #flash
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}= value

      = yield

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    %script{:src => "//code.jquery.com/jquery.js"}
